{{!< layout}}

  <div class="row">
    <div class="large-12 columns">
		  <h3>{{description}}</h5>
	  </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
			<form action="/blog/create" method="post" accept-charset="utf-8">
			  <textarea name="content"></textarea>
			  <input type="submit" class="small button success right">
			</form>
		</div>
	</div>

  <div class="row">
    <div class="large-12 columns">

    	{{#each posts}}
		  	<div class="panel">{{content}}</div>
		  {{else}}
		  	<p>No posts</p>
		  {{/each}}
		  
	  </div>
  </div>